include /views/templates/contacts/helpers.jade


mixin fullname(contact)
    p!= contact.toString({pre: '<b>', post: '</b>'})


mixin formatDatapoints(points, prefix)
    if points != null && points.length
        dl(role="gridcell", class=prefix, aria-haspopup="true")
            dt
                +formatPoint(points[0])

    else
        .placeholder(role="gridcell", class=prefix)


mixin contactrow(contact)
    -var contactJson = contact.toJSON()
    .name(role="gridcell")
        if contactJson.avatar
           img.avatar(src=contactJson.avatar)
        else
            span.avatar.initials= contactJson.initials

        +fullname(contact)

    +formatDatapoints(contactJson.tel, 'tel')
    +formatDatapoints(contactJson.email, 'email')


if result
    +contactrow(result)

else
    dt(role="columnheader")
        +fullname(candidates[0])
        .btn-group
            button.cancel.outline.secondary()
                span= t('mergerow actions dismiss')
            button(type="submit", disabled=!isMergeable, aria-busy=merging)
                .fa.fa-code-fork
                span= t('mergerow actions merge')

    dd: ul
        each contact, index in candidates
            li(role="presentation")
                label(for=contact.cid role="row")
                    span(data-input="checkbox")
                        input(type='checkbox' id=contact.cid name="mergecontact-#{index}" value="#{index}" checked=selected[index])
                        label(for=contact.cid)
                    +contactrow(contact)
