mixin zone(slug, label)
    - label = label || slug
    .zone(id="#{slug}s")
        h2= t(label)
        ul
        a(class="btn add add#{slug}")= t('add')


#contact-container
    div.ui-flex.ui-flex-full
        header
            #picture
                if hasPicture
                    img.picture(src="contacts/#{id}/picture.png")
                else
                    img.picture(src="img/defaultpicture.png")

                #uploadnotice= t("change")
                input#uploader(type="file")

            #wrap-name-notes
                #contact-name(style="display: none;")
                input#name(placeholder=t("firstname lastname"), value="#{fn}")
                ul.tags

                span#save-info= t('changes saved') + ' '
                    a#undo=t('undo')
            a#close(href="#") &lt;


        nav.nav-tabs
            ul(role='tablist')
                li(role='tab', aria-controls='infos-panel', aria-selected='true')= t('info')
                li(role='tab', aria-controls='notes-panel', aria-selected='false')= t('notes')

    section#infos-panel.ui-flex.ui-flex-half(role='tabpanel', aria-hidden='false')
        +zone('about')
        +zone('tel', 'phones')
        +zone('email', 'emails')
        +zone('adr', 'postal')
        +zone('url', 'links')
        +zone('other', 'others')

        .zone
            a#more-options.button= t('more options')

            #adder.zone
                h2= t("actions")
                h3= t("add fields")
                a.button.addbirthday= t("birthday") + ' '
                a.button.addorg=      t("company") + ' '
                a.button.addtitle=    t("title") + ' '
                a.button.addcozy=     t("cozy url") + ' '
                a.button.addtwitter=  t("twitter") + ' '
                a.button.addtel=      t("phone") + ' '
                a.button.addemail=    t("email") + ' '
                a.button.addadr=      t("postal") + ' '
                a.button.addurl=      t("url") + ' '
                a.button.addskype=    t("skype") + ' '
                a.button.addother=    t("other")
                h3= t("export")
                a.button#export(href='contacts/#{id}/#{fn}.vcf' title= t("export contact"))= t('export contact')
                h3= t("delete")
                a.button#delete(title= t("delete contact"))= t('delete contact')


    section#notes-panel.ui-flex.ui-flex-half(role='tabpanel', aria-hidden='true')
        h2.tab-title= t("notes")
        #notes-zone
            textarea(rows="3", placeholder=t('notes placeholder'))#notes #{note}
