a(href=id == 'all'? "contacts" : "tags/#{name}" data-input="radio", data-id=id aria-checked=selected? 'true' : 'false')
    input(type="radio" id=id name="label-filters" checked=selected)
    label(for=id)
    = name
