label(for="filter-#{_id}", aria-checked=selected? 'true' : 'false')
    span.fa.fa-dot-circle-o
    span.fa.fa-circle-o
    input(type="radio", id="filter-#{_id}", name="label-filters")
    a.label(href=_id == 'all'? "contacts" : "tags/#{name.toLowerCase()}")= name
