legend= t('tools labels filters')
nav: ul
    li
        - var ref = "filter-label-all"
        label(for=ref)
            input(type='radio', id=ref, name'labels', value='all', checked=true)
            span= t('tools labels filters all')
