extends ../base/dialog.jade

block content
    include helpers.jade

    if edit
        each list, listname in lists
            datalist(id="list-#{listname}")
                each item in list
                    - var opt = item.split(':')
                    option(value=opt[0], data-name=opt[1])


    div
        if avatar
            img.avatar(src=avatar)

        else
            span.avatar.initials= initials

    .data(class=edit? 'edit' : '')
        if edit
            +input('name.prefix')(value=name.prefix)
            +input('name.first')(value=name.first)
            +input('name.middle')(value=name.middle)
            +input('name.given')(value=name.given)
            +input('name.suffix')(value=name.suffix)
            
            
            fieldset.block(data-type="infos")
                +input('org')(value=org, placeholder=true)
                +input('department')(value=department, placeholder=true)
                +input('title')(value=title, placeholder=true)
        else
            h1
                +formatName(name)
            
            ul.block(data-type="infos")
                if title || org || department || note
                    if title || org || department
                        li: +formatJob(title, org, department)
                    if note
                        li= note
        
        .block.datapoints(data-type="tel")
        .block.datapoints(data-type="email")
        .block.datapoints(data-type="adr")
        .block
            div.datapoints(data-type="xtras")
            div(data-type="xtras-infos")
            if edit
                +input('note', 'textarea')(value=note)

        if edit
            .actions

    aside
        ul
            if edit
                li: button(type="submit").outline.secondary
                    .fa.fa-check
                    span= t('card actions save')
                li: a.cancel.confirm.outline.secondary(role="button", href="contacts/#{_id}")
                    .fa.fa-times
                    span= t('card actions cancel')
            else
                li: a.edit.outline.secondary(role="button", href="contacts/#{_id}/edit")
                    .fa.fa-pencil
                    span= t('card actions edit')
                li: button.delete.outline.secondary
                    .fa.fa-trash
                    span= t('card actions delete')
