extends /lib/views/templates/base/dialog.jade

block content
    if edit
        each list, listname in lists
            datalist(id="list-#{listname}")
                each item in list
                    - var opt = item.split(':')
                    option(value=opt[0], data-name=opt[1])

    div(role="img")

    .data

    aside
        ul
            if edit
                if id
                    li: button(type="submit", data-next="contacts/#{_id}").outline
                        i.fa.fa-check
                        span= t('card actions save')
                else
                    li: button(type="submit").outline
                        i.fa.fa-plus
                        span= t('card actions create')
                        
                li: a.cancel.outline.secondary(role="button", href=(id? "contacts/#{_id}" : 'contacts'), data-confirm='{"event":"edit:cancel","title":"#{t("card confirm cancel title")}","message":"#{t("card confirm cancel message")}","btn_ok":"#{t("card confirm cancel ok")}","btn_cancel":"#{t("card confirm cancel cancel")}"}')
                        i.fa.fa-times
                        span= t('card actions cancel')
            else
                li: a.edit.outline.secondary(role="button", href="contacts/#{_id}/edit")
                    i.fa.fa-pencil
                    span= t('card actions edit')
                li: button.outline.secondary(formaction="contact/export")
                    i.fa.fa-upload
                    span= t('card actions export')
                li: button.delete.outline.danger.special
                    i.fa.fa-trash
                    span= t('card actions delete')
                    
            li.tags
