extends ../base/dialog.jade

block content
    include helpers.jade

    mixin formatDatapoints(points, prefix)
        if edit
            fieldset.block(class=prefix)
                if points
                    each point, index in points
                        +groupInput(point, prefix, index)(placeholder=true)
                
                if prefix != 'xtras'
                    - var point = {name: prefix, type: undefined, value: ''}
                    +groupInput(point, prefix, points? points.length : 0)(placeholder=true)
                
                else
                    if url
                        +input('url', 'text')(value=url, placeholder=true)
                    if bday
                        +input('bday', 'text')(value=bday, placeholder=true)
                    +input('note', 'textarea')(value=note)

        else if points || prefix == 'xtras' && (url || bday)
            ul.block(class=prefix)
                if points
                    each point in points
                        li: +formatPoint(point)
                if prefix == 'xtras'
                    if url
                        - var point = {type: 'web', value: url}
                        li: +formatPoint(point)
                    if bday
                        - var point = {type: t('datapoint label birthday'), value: bday}
                        li: +formatPoint(point)


    if edit
        each list, listname in lists
            datalist(id="list-#{listname}")
                each item in list
                    - var opt = item.split(':')
                    option(value=opt[0], data-name=opt[1])


    if avatar
        div
            img(src=avatar, width="128", height="128")

        else
            aside
                span.initials= initials

    .data
        if edit
            +input('prefix')(value=name.prefix)
            +input('firstname')(value=name.first)
            +input('middlename')(value=name.middle)
            +input('givenname')(value=name.given)
            +input('suffix')(value=name.suffix)
            
            
            fieldset.block.infos
                +input('org')(value=org, placeholder=true)
                +input('department')(value=department, placeholder=true)
                +input('title')(value=title, placeholder=true)
        else
            h1
                +formatName(name)
            
            if title || org || department || note
                ul.block.infos
                    if title || org || department
                        li: +formatJob(title, org, department)
                    if note
                        li= note

        each name in ['tel', 'email', 'adr', 'xtras']
            +formatDatapoints(datapoints[name], name)
            
        if edit
            dl.dropdown.add
                dt= t('card action add select')
                dd: ul
                    li: button(value="bday")= t('card action add birthday')
                    li: button(value="social")= t('card action add social')
                    li: button(value="link")= t('card action add link')
                    li: button(value="other")= t('card action add other')


    aside
        ul
            if edit
                li: button.create.outline.secondary
                    .fa.fa-check
                    span= t('card actions save')
                li: button.cancel.outline.secondary
                    .fa.fa-times
                    span= t('card actions cancel')
            else
                li: a.edit.outline.secondary(role="button", href="contacts/#{_id}/edit")
                    .fa.fa-pencil
                    span= t('card actions edit')
                li: button.delete.outline.secondary
                    .fa.fa-trash
                    span= t('card actions delete')
