mixin formatName(name)
    if name.prefix
        = name.prefix
        | 
    = name.first
    | 
    if name.middle
        = name.middle
        | 
    b= name.given
    if name.suffix
        | 
        = name.suffix


mixin formatPoint(point)
    i.type
        = point.type
        | &nbsp;
    span= point.value


mixin formatJob(title, org, dept)
    if title
        = title
    if title && org
        |  - 
    if org
        = org
    if org && dept || title && dept
        |  
    if dept
        | (#{dept})


mixin input(name, type)
    - var id = name + '-' + ref
    - var span = attributes.span != undefined ? attributes.span : true
    - var placeholder = attributes.placeholder? t('datapoint placeholder ' + name.replace(/\.[0-9]+\./g, ' ')) : false
    label(for=id)
        if span
            span= t('datapoint label ' + name)
        if type == 'textarea'
            textarea(id=id, name=name)= attributes.value
        else
            input(type=type, id=id, name=name, placeholder=placeholder, value=attributes.value, disabled=attributes.disabled)
