extends ../../../lib/views/templates/base/dialog.jade


block content
    include helpers.jade

    mixin radio(options, fieldName)
      ul
          - for (var i=0; i< options.length; i++)
              -var option = options[i]
                  li
                      label
                        if i == 0
                            input(type="radio", name=fieldName,
                                value=option.index, checked)
                        else
                            input(type="radio", name=fieldName,
                                value=option.index)

                        i
                        = option.value


    h1= t('merge title')

    dl
        if options.avatar != null
          dt= t('merge choose avatar')
          dd
            ul.avatars
                - for (var i=0; i< options.avatar.length; i++)
                    -var option = options.avatar[i]
                    li
                        label
                            if i == 0
                                input(type="radio", name="avatar",
                                    value=option.index, checked)
                            else
                                input(type="radio", name="avatar",
                                    value=option.index)

                            img.avatar(src=option.value)


        if options.fn != null
          dt= t('merge choose name')
          dd
            +radio(options.fn, "fn")

        if options.nickname != null
          dt= t('merge choose nickname')
          dd
            +radio(options.nickname)


        if (options.org != null || options.department != null || options.title  != null)
          dt
            = t('merge choose organisation')
          dd
            dl
              if options.org != null
                dt= t('merge choose org')
                dd
                  +radio(options.org, "org")

              if options.department != null
                dt= t('merge choose department')
                dd
                  +radio(options.department, "department")

              if options.title != null
                dt= t('merge choose title')
                dd
                  +radio(options.title, "title")


        if options.bday != null
          dt= t('merge choose birthday')
          dd
            +radio(options.bday, "bday")


    button(type="submit").outline
        .fa.fa-plus
        span= t('merge actions merge')

    button.cancel.outline.secondary()
        .fa.fa-times
        span= t('merge actions cancel')
