extends /lib/views/templates/base/dialog.jade


block content
    include helpers.jade

    mixin radio(options, fieldName)
        ul(class=(fieldName == 'avatar') ? 'avatars' : '')
            each option in options
                - var index   = option.index
                - var _ref    = ['merge', fieldName, index].join('-')
                - var checked = model[fieldName] == index
                  li
                    label(for=_ref)
                        if fieldName == 'avatar'
                            input(type="radio" name=fieldName value=index id=_ref checked=checked)
                            img(src=option.value)
                        else
                            span(data-input="radio")
                                input(type="radio" name=fieldName value=index id=_ref checked=checked)
                                label(for=_ref)
                            span
                                if fieldName == 'fullname'
                                    != option.value
                                else
                                    = option.value

    h1= t('merge title')

    dl
        if model.mergeOptions.avatar != null
            dt= t('merge choose avatar')
            dd: +radio(model.mergeOptions.avatar, "avatar")

        if model.mergeOptions.fullname != null
            dt= t('merge choose name')
            dd: +radio(model.mergeOptions.fullname, "fullname")

        if model.mergeOptions.nickname != null
            dt= t('merge choose nickname')
            dd: +radio(model.mergeOptions.nickname)

        if (model.mergeOptions.org != null || model.mergeOptions.department != null || model.mergeOptions.title  != null)
            dt= t('merge choose organisation')
            dd: dl
                if model.mergeOptions.org != null
                    dt= t('merge choose org')
                    dd: +radio(model.mergeOptions.org, "org")

                if model.mergeOptions.department != null
                    dt= t('merge choose department')
                    dd: +radio(model.mergeOptions.department, "department")

                if model.mergeOptions.title != null
                    dt= t('merge choose title')
                    dd: +radio(model.mergeOptions.title, "title")

        if model.mergeOptions.bday != null
            dt= t('merge choose birthday')
            dd: +radio(model.mergeOptions.bday, "bday")


    nav: ul.actions
        li: button(type="submit")
            .fa.fa-code-fork
            span= t('merge actions merge')

        li: button.cancel.outline.secondary()
            span= t('merge actions cancel')
