extends ../../../lib/views/templates/base/dialog.jade


block content
    include helpers.jade

    mixin radio(options, fieldName)
      - for (var i=0; i< options.length; i++)
          -var option = options[i]
            input(type="radio", name=fieldName, id="#{fieldName}-#{ref}",
             value=option.index)
            label(for="#{fieldName}-#{ref}")= option.value

    h1 t('merge title')

    if options.avatar != null
        h2= t('merge choose avatar')
        - for (var i=0; i< options.avatar.length; i++)
          -var option = options.avatar[i]
            input(type="radio", name="avatar", id="avatar-#{i}",
             value=option.index)
            label(for="avatar-#{i}")
              img(src=option.value, style="height: 250px;")

    if options.fn != null
        h2= t('merge choose name')
        +radio(options.fn, "fn")

    if options.nickname != null
      h2= t('merge choose nickname')
      +radio(options.nickname)

    if (options.org != null || options.department != null || options.title  != null)
      h2= t('merge choose organisation')

      if options.org != null
        h3= t('merge choose org')
        +radio(options.org, "org")

      if options.department != null
        h3= t('merge choose department')
        +radio(options.department, "department")

      if options.title != null
        h3= t('merge choose title')
        +radio(options.title, "title")


    if options.bday != null
      h2= t('merge choose birthday')
      +radio(options.bday, "bday")

    if options.note != null
      h2= t('merge choose note')
      +radio(options.note, "note")


    button(type="submit").outline
        .fa.fa-plus
        span= t('merge actions merge')

    button.cancel.outline.secondary()
        .fa.fa-times
        span= t('merge actions cancel')
