extends ../../../lib/views/templates/base/dialog.jade


block content
    include helpers.jade

    mixin radio(options, fieldName)
      - for (var i=0; i< options.length; i++)
          -var option = options[i]
            input(type="radio", name=fieldName, id="#{fieldName}-#{i}",
             value=option.index)
            label(for="#{fieldName}-#{i}")= option.value

    h1= t('merge title')

    if options.avatar != null
      div
        h2= t('merge choose avatar')
        - for (var i=0; i< options.avatar.length; i++)
          -var option = options.avatar[i]
            input(type="radio", name="avatar", id="avatar-#{i}",
             value=option.index)
            label(for="avatar-#{i}")
              img.avatar(src=option.value, style="height: 250px;")
        hr


    if options.fn != null
      div
        h2= t('merge choose name')
        +radio(options.fn, "fn")
        hr


    if options.nickname != null
      div
        h2= t('merge choose nickname')
        +radio(options.nickname)
        hr


    if (options.org != null || options.department != null || options.title  != null)
      div
        h2= t('merge choose organisation')

      if options.org != null
        div
          h3= t('merge choose org')
          +radio(options.org, "org")

      if options.department != null
        div
          h3= t('merge choose department')
          +radio(options.department, "department")

      if options.title != null
        div
          h3= t('merge choose title')
          +radio(options.title, "title")

      hr



    if options.bday != null
      div
        h2= t('merge choose birthday')
        +radio(options.bday, "bday")
        hr


    if options.note != null
      div
        h2= t('merge choose note')
        +radio(options.note, "note")
        hr


    button(type="submit").outline
        .fa.fa-plus
        span= t('merge actions merge')

    button.cancel.outline.secondary()
        .fa.fa-times
        span= t('merge actions cancel')
