include helpers.jade

mixin datapoints(points, prefix)
    dl(class=prefix)
        if points.length
            dt
                +formatPoint(points[0])
                if points.length > 1
                    span.fa.fa-caret-down
            if points.length > 1
                dd: ul
                    each point in points.slice(1)
                        li: +formatPoint(point)


span(for="select-#{_id}")
    input(type='checkbox', id="select-#{_id}")
    label(for="select-#{_id}")

if avatar
    img(src=avatar, width="64", height="64")
else
    span.initials= initials
    
p: a(href="contacts/#{_id}")
    +formatName(name)

+datapoints(phones, 'phones')
+datapoints(emails, 'emails')
