mixin formatpoint(point)
    span.type #{point.type}: 
    span= point.value


mixin datapoints(points, prefix)
    if points.length
        dl(class=prefix)
            dt
                +formatpoint(points[0])
                if points.length > 1
                    span.fa.fa-caret-down
            if points.length > 1
                dd: ul
                    each point in points.slice(1)
                        li: +formatpoint(point)
    else
        dl(class=prefix)


span(for="select-#{_id}")
    input(type='checkbox', id="select-#{_id}")
    label(for="select-#{_id}")

if avatar
    img(src=avatar, width="64", height="64")
else
    span.initials= initials
    
p!= formattedName

+datapoints(phones, 'phones')
+datapoints(emails, 'emails')
