include helpers.jade

mixin formatDatapoints(points, prefix)
    if points
        dl(role="gridcell", class=prefix)
            dt
                +formatPoint(points[0])
                if points.length > 1
                    span.fa.fa-caret-down
            if points.length > 1
                dd(aria-hidden="true"): ul
                    each point in points.slice(1)
                        li: +formatPoint(point)
    else
        .placeholder(role="gridcell", class=prefix)


label(for="select-#{_id}")
    input(type='checkbox', id="select-#{_id}")
    span.fa.fa-square-o


a.name(role="gridcell", href="contacts/#{_id}")
    if avatar
       img.avatar(src=avatar)
    else
        span.avatar.initials= initials
        
    p: +formatName(name)
    
+formatDatapoints(datapoints.tel, 'tel')
+formatDatapoints(datapoints.email, 'email')
