include helpers.jade

mixin formatDatapoints(points, prefix)
    if points != null && points.length
        - var pop = points.length > 1
        dl(role="gridcell", class=prefix, aria-haspopup=(pop? 'true' : 'false'), aria-expanded="false", data-position='bottom right')
            dt
                +formatPoint(points[0])
                if pop
                    span.fa.fa-caret-down
            if pop
                dd: ul
                    each point in points
                        li: +formatPoint(point, true)
    else
        .placeholder(role="gridcell", class=prefix)

span(data-input="checkbox")
    input(type="checkbox" id=ref name="bulk" value=id checked=selected)
    label(for=ref)

a.name(role="gridcell", href="contacts/#{_id}")
    if avatar
       if isAvatarLoaded
           - var src = avatar
       else
           - var src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
       img.avatar(data-src=avatar, src=src)
    else
        - var bg = ColorHash.getColor(n, 'cozy')
        span.avatar.initials(style="background-color:#{bg}")= initials

    p!= fullname

+formatDatapoints(tel, 'tel')
+formatDatapoints(email, 'email')
