include contacts/helpers.jade

mixin formatDatapoints(points, prefix)
    if points != null && points.length
        dl(role="gridcell", class=prefix, aria-haspopup="true")
            dt
                +formatPoint(points[0])

    else
        .placeholder(role="gridcell", class=prefix)


mixin contactrow(contact)
    .name(role="gridcell")
        if contact.avatar
           img.avatar(src=contact.avatar)
        else
            span.avatar.initials= contact.initials

        p: +formatName(contact.name)

    +formatDatapoints(contact.tel, 'tel')
    +formatDatapoints(contact.email, 'email')



if result
    ul(role='list')
        li.ui-contactrow(role='listitem')
            +contactrow(result.toJSON())

else
    dt
        +formatName(candidates[0].get('name'))
        button.cancel.outline.secondary()
                .fa.fa-times
                span= t('mergerow actions dismiss')
        button(type="submit").outline
            .fa.fa-plus
            span= t('mergerow actions merge')

    dd
        ul(role='list')
            for contact, index in candidates
                    li(role='listitem')
                        input(type='checkbox', name="mergecontact-#{index}",
                            checked="checked", value="#{index}",
                            id="mergecontact-#{contact.get('id')")
                        label.ui-contactrow(for="mergecontact-#{contact.get('id')")
                            +contactrow(contact.toJSON())

